.d8EventRow {
  border: .05rem solid #d7d7d7;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
}

.d8EventDateContainer {
  background-color: #2a2a2a;
  width: 100%;
  float: left;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.d8EventDateNumber {
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
  width: 40px;
  float: left;
  margin-right: 1rem;
  margin-left: .7rem;
}

.d8EventImageContainer {
  padding: 0;
  border-right: 7px solid #FFC627;
}
.d8EventImageContainer {
  margin:0;
  padding:0 !important;
}
/*.d8EventYellowBorder {
  height: inherit;
  padding: 0;
  background-color: #FFC627;
}*/

.d8EventYellowBorder .col-sm-1 .col-md-3{
  width: 3%;
}

.d8DayOfWeekMonthContainer {
  float: left;
}

.d8StartAndEnd {
  padding-left: 30px;
  font-size: 13px;
}

.d8StartAndEndEventCard {
  padding-left: 24px;
  font-size: 13px;
}

.d8StartAndEndEventCard span {
  word-break: normal;
}

.d8EventDayOfWeek {
  color: #fff;
  font-size: 1rem;
  width: 100%;
  float: left;
  text-align: left;
  letter-spacing: .1rem;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .d8EventImageContainer {
    border-bottom: 7px solid #FFC627;
    border-right: 0;
  }
}

.d8Location {
  font-size: 13px;
  text-align: center;
  padding-right: 125px;
}

.d8EventMonth {
  color: #fff;
  font-size: .8rem;
  width: 100%;
  float: left;
  text-align: left;
  line-height: .8em;
}

.d8EventImage {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.d8EventDetailsContainer {
  padding: 3rem 1rem;
}

.d8EventDetails {
  color: #777777;
  font-size: 1.2rem;
}

.d8EventTitle a {
  color: #2a2a2a;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  line-height: 1;
}

.d8EventTitle a:hover {
  text-decoration: underline;
}

.d8EventTitle a:focus {
  color: #2a2a2a;
}

.d8EventTitle a:active {
  color: #2a2a2a;
}

.d8EventTitle a:visited {
  color: #2a2a2a;
}
.d8EventDateContainer::after {
  content: " ";
  clear:both;
  display:block;
}
.eventItemCard .d8EventDateContainer {
  float:none;
}
.eventItemCard .d8EventDetailsContainer {
  padding:.5rem;
}
.eventItemCard .d8EventImage {
  padding:0;
}
.eventItemCard .d8EventImageTop a {
  display:block;
  height:100%;
}
.eventItemCard .d8EventImageTop img {
  object-fit: cover;
  min-height: 100%;
  min-width:100%;
}

.d8EventImageTop-wrapper {
  border-bottom: 7px solid #FFC627;
}

.d8LocationThreeCards {
  padding: 0;
  font-size: 12px;
}

.eventItemCard .d8EventImageTop-wrapper {
  position:relative;
  height:0;
  padding-top:56%;
  overflow:hidden;
}
.eventItemCard .d8EventImageTop {
  position:absolute;
  top:0;
  height:100%;
  width: 100%;
}
.eventItemCard .d8EventTitle a {
    font-size: 1.1rem;
    font-weight: bold;
}
.eventItemCard .d8EventDetails {
    font-size: 1rem;
    margin-bottom:0;
}
.eventItemCard .d8EventTitle {
  margin-bottom:.5rem;
  padding: .5rem;
}
.eventItemCard .card {
  height:100%;
}
.eventItemCard {
  margin-bottom:20px;
}
